
 .header {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .header img {
    width: 100%;
    height: auto;
  }
  
  .header .fa-chevron-left {
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: #555;
    /* padding: 0px 0px; */
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    /* text-align: center; */
  }

  .header .btn2 {
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #555; */
    color: white;
    /* font-size: 16px; */
    /* padding: none; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* text-align: center; */
  }

  .header .btn3 {
    position: absolute;
    top: 5%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: mediumspringgreen;
    color: white;
    /* font-size: 16px; */
    /* padding: 0 0; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* text-align: center; */
  }
  
  .header .btn:hover {
    background-color: black;
  }

   /* .header div.card {
    position: absolute;
    top : 99%;
    left: 25%;
    transform: translate(-40%, -40%);
    -ms-transform: translate(0%, 0%);
    background-color: black;
    padding: 2% 100%;
    cursor: pointer; 
    text-align: center;
  }   */

  /* .header .card .back {
    margin : 0 45%;
} */

/* div.card {
  border: solid lightseagreen 2px;
  /* border-top-left-radius: 15%; 
} */

.header div.card {
  background-color: white;
  position: absolute;
  padding: 20px;
  top: 95%;
  width: 100%;
  border-radius: 40px;
}

.header h3 {
  background-color: mediumspringgreen ;
  border-radius: 10px;
  padding-left: 10px;
  color : whitesmoke;
}

.btn4 {
  padding: 0px 0px;
  width: inline;
  text-align: center;
  /* align-items: center; */
}

ul.lists li {
  display: inline;
  padding : 10px;
}

ul.lists li div {
  display: inline;
}

ul.lists li div p{
  display: inline;
}

.fa-chevron-up {
  position: absolute;
  color: firebrick;
  left: 48%;
  font-size: 25px;
  top: 0%;
}

.fa-chevron-left {
  color: black;
  background-color: whitesmoke;
  padding: 8px 10px;
  border-radius: 50%;
}
.fa-share-alt {
  position : absolute;
  font-size: 30px;
  color: black;
  background-color: whitesmoke;
  border-bottom: solid black 1px;
  padding: 8px 10px;
  border-radius: 50%;
  left: 80%;
  top: -3%;
}

#yellow {
  background-color: rgb(228, 222, 174);
  color: rgb(206, 124, 97);
  border-radius: 10px;
  height: 54px;
  line-height: 11px;
  padding: 6px;
}

#green {
  background-color: mediumspringgreen;
  color: white;
  border-radius: 10px;
  height: 54px;
  line-height: 11px;
  padding: 6px;
}

.fa {
  font-size: x-large;
}

.col-2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 9px;
  height: 54px;
  line-height: 11px;
  padding: 6px;                  
}

#last {
  background-color: rgb(228, 222, 174);
  color: rgb(206, 124, 97);
  border-radius: 10px;
  padding : 2px 2px;
}

.info {
  color: #555;
}